<%- include('partials/head') %>

<%- include('partials/nav') %>

<main>
    <div class="body" style="text-align: center;">
        <h1>Annonces Immo !</h1>
        <h3>L'application des annonces immobilières</h3>
        <p>Utilisez le menu pour commencer à profiter de l'application</p>
    </div>
</main>

<%- include('partials/footer') %>